DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
ACCESS_TOKEN_LIFETIME_DAYS=
REFRESH_TOKEN_LIFETIME_DAYS=
DJANGO_SHOW_SWAGGER=

#click
CLICK_SERVICE_ID="your-service-id"
CLICK_MERCHANT_ID="your-merchant-id"
CLICK_SECRET_KEY="your-secret-key"
CLICK_ACCOUNT_MODEL="order.models.Order" # bu yerga order modelizni yo'lini ko'rsating
CLICK_AMOUNT_FIELD="amount" # your amount field that's belongs to your order model


#payme
PAYME_ID=
PAYME_KEY=


#web redirected url
REDIRECTED_URL=