DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
ACCESS_TOKEN_LIFETIME_DAYS=
REFRESH_TOKEN_LIFETIME_DAYS=
DJANGO_SHOW_SWAGGER=

#eskiz
ESKIZ_EMAIL=
ESKIZ_PASSWORD= 

#click
CLICK_SERVICE_ID="your-service-id"
CLICK_MERCHANT_ID="your-merchant-id"
CLICK_SECRET_KEY="your-secret-key"
CLICK_ACCOUNT_MODEL="order.models.Order" # bu yerga order modelizni yo'lini ko'rsating
CLICK_AMOUNT_FIELD="amount" # your amount field that's belongs to your order model


#payme
PAYME_ID=
PAYME_KEY=

#Uzum Bank
SERVICE_ID_UZUM=
SERVICE_UZUM_KEY=
SERVICE_UZUM_PASSWORD=

#web redirected url
REDIRECTED_URL=

#atmos
ATMOS_KEY=
ATMOS_SECRET=
ATMOS_TERMINAL_ID=
ATMOS_SUCCESS_URL=
ATMOS_API_KEY_BIND=
ATMOS_HOLD_DURATION=

#Yandex Delivery
YANDEX_DELIVERY_API_URL="https://b2b.taxi.yandex.net"
YANDEX_DELIVERY_OAUTH_TOKEN="your-yandex-report-access-token"

#logging
LOG_LEVEL=
LOG_JSON=
LOG_REQUEST=
LOG_MAX_BYTES=
LOG_BACKUP_COUNT=
LOG_ERROR_MAX_BYTES=
LOG_ERROR_BACKUP_COUNT=